/SistemaEscuela/nbproject/private/
/ReportesRegistroEscolar/target/
/ReportesRegistroEscolar/nbproject/private/
/ReportesRegistroEscolar/build/
/ControlInformacion/target/
/ReportesRegistroEscolar/dist/
