/SistemaEscuela/nbproject/private/
/ReportesRegistroEscolar/target/
/ReportesRegistroEscolar/nbproject/private/
/ReportesRegistroEscolar/build/
/ControlInformacion/target/
/ReportesRegistroEscolar/dist/
/Acceso Datos Moodle/nbproject/private/
/Acceso Datos Moodle/build/
/Acceso Datos Moodle/dist/
/testRestful/nbproject/private/
/testRestful/build/
